{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="{% url 'success' %}">HOME</a>
            <a href="{% url 'professor_subjects' %}" >SUBJECTS</a>
            <a href="javascript:history.back()" >STUDENT LIST</a> 
        </div>
        <div class="nav-right">
            <a href="{% url 'logout' %}" class="logout">LOGOUT</a>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <h2>Edit student status for {{ subject.name }}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>
