{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Edit Status</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="{% url 'success' %}">HOME</a>
            <a href="{% url 'professor_subjects' %}" class="current">SUBJECTS</a>
        </div>
        <div class="nav-right">
            <a href="{% url 'logout' %}" class="logout">LOGOUT</a>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <h2>Edit Status</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</body>
</html>
