{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <nav>
      <div class="nav-left">
        <a href="{% url 'cover_view' %}">COVER PAGE</a>
        <a href="{% url 'contact' %}">CONTACT</a>
      </div>
    </nav>
    <br />
    <br />
    <br />
    <table>
      <tr>
        <th colspan="2"></th>
      </tr>
      <tr>
        <td>
          <form method="post">
            {% csrf_token %}
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="submit" value="login" />
              </td>
            </tr>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
