{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Add Subject</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <nav>
      <div class="nav-left">
        <a href="{% url 'success' %}">HOME</a>
        <a href="{% url 'add_subject' %}" class="current">ADD SUBJECT</a>
        <a href="{% url 'add_user' %}">ADD USER</a>
      </div>
      <div class="nav-right">
        <a href="{% url 'logout' %}">LOGOUT</a>
      </div>
    </nav>
    <br />
    <br />
    <br />
    <form method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Spremi promjene" />
    </form>
  </body>
</html>
