{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <nav>
        <div class="nav-left">
          <a href="{% url 'success' %}" class="current" >HOME</a>
          <a href="{% url 'add_subject' %}">ADD SUBJECT</a>
          <a href="{% url 'add_user' %}">ADD USER</a>
          <a href="{% url 'create_enrollment' %}"> ENROLL</a>
        </div>
        <div class="nav-right">
          <a href="/accounts/login/" class="logout">LOGOUT</a>
        </div>
    </nav>
    <br>
    <br>
    <br>
    
    <h2>Welcome, {{ user.username }}!</h2>
    <br>
    <form action="{% url 'lista_predmeta' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="list all subjects">
    </form>
    <form action="{% url 'student_list' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="list all students">
    </form>
</body>
</html>
